a{
    text-decoration: none;
    color: #777;
}
*{
    /* background-color: black; */
    color: #000;
}
input{
    width: 80%;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin: auto;
    position: relative;
    border-top : none;
    border-left: none;
    border-right: none;
}
#Myul{
    width: 80%;
    position: absolute;
text-align: center;
   
     margin-top: -0px;
     position: relative;
    border-radius: 40px;
margin: auto;
}
#Myul li{
margin-top: -10px;
    height: 30px;
  font-size: 20px;
  
  list-style-type: none;
  margin-top: 10px;
  
}
#Myul li:hover{
  color: white;
}
#main{
    justify-content: center;
    text-align: center;
    
    margin: auto;
}
p{
    color: rgb(255, 248, 248);
}